{% extends 'base.html.twig' %}

{% block title %}
    Holiday Manager | Users
{% endblock %}

{% block body %}
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading clearfix">
                <h2 class="panel-title pull-left hm-panel-title">Users</h2>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Username</th>
                        <th class="text-center">Manage User Holiday Options</th>
                        <th class="text-center">Toggle Admin Role</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.getUsername() }}</td>
                            <td align="center"><a href="{{ path("listUserHolidays", {'username' : user.getUsername }) }}" data-toggle="tooltip" title="Manage {{ user.getUsername }}'s holiday options"><span class="glyphicon glyphicon-wrench"></span></a></td>
                            <td align="center">
                                {% if loggedUser != user.getUsername() %}
                                    <a href="{{ path("toggleAdminRole", {'username' : user.getUsername }) }}" data-toggle="tooltip" {% if user.isAdmin() %}title="Take away {{ user.getUsername }}'s admin privileges"{% else %}title="Give {{ user.getUsername }} admin privileges"{% endif %}>
                                        {% if user.isAdmin() %}
                                            <span class="glyphicon glyphicon-ok"></span>
                                        {% else %}
                                            <span class="glyphicon glyphicon-minus"></span>
                                        {% endif %}
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}